.username {
  font-weight: 500;
}

.tag {
  font-style: italic;
}

.location {
  color: #ff6b08;
}

.stats {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.item {
  width: calc(100% / 3);
  padding-left: 15px;
  padding-right: 15px;
}

.item:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: blue;
}

.label,
.quantity {
  display: block;
  text-align: center;
}

.quantity {
  font-weight: 500;
}
