.item {
  display: flex;
  align-items: center;
  background-color: yellow;
  outline: 1px solid blue;
  margin-bottom: 20px;
}

.item:hover,
.item:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: blue;
  color: yellow;
}

.isOnline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: tomato;
  margin-left: 10px;
}

.isOffline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  margin-left: 10px;
}
